name: Push_News

on:
  schedule:
    - cron: "*/30 * * * *" # 每半小时执行一次
  workflow_dispatch:

jobs:
  fetch_news:
    runs-on: ubuntu-latest
    env:
      TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
      TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
      START_COMMAND: ${{ secrets.START_COMMAND }}
      STOP_COMMAND: ${{ secrets.STOP_COMMAND }}
      OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
      BASEURL: ${{secrets.BASEURL}}
    steps:
      - name: Set time zone
        run: sudo ln -sf /usr/share/zoneinfo/Asia/Shanghai /etc/localtime
      - uses: actions/checkout@v2.3.4
      - uses: actions/setup-node@v2.4.1
        with:
          node-version: "16.x"
          registry-url: https://npm.pkg.github.com/
      - name: Cache node modules
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - name: Display current time
        run: date +%Y-%m-%d\ %H:%M:%S
      - name: Install dependencies
        run: npm install
      - name: Run Project
        run: npm run start
      - name: Commit and push changes
        run: |
          npm run prettier
          git config --local user.email "exposir@foxmail.com"
          git config --local user.name "exposir"
          git add .
          git status
          git commit -m "Update sentMessageIds" || echo "No changes to commit"
          git push origin main
      - name: Push changes
        uses: ad-m/github-push-action@v0.6.0
        with:
          github_token: ${{ secrets.ACTION_TOKEN }}
          branch: main
